@import "bootstrap-sprockets";
@import "bootstrap";

.social-btn{
  background: #60C1C2;
  margin: 5px 5px 5px 5px;
  padding: 20px 300px 20px 300px;
  border-width: 5px;
  border-style: solid;
  border-color:  #142929
}